### macOS template
# General
.DS_Store

### IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Cursive Clojure plugin
.idea

### Java template
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar